<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Тест_по_МДК_01._01.Properties.Settings.testiruyuschiesya1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\testiruyuschiesya1.accdb"
            providerName="System.Data.OleDb" />
        <add name="Тест_по_МДК_01._01.Properties.Settings.testiruyuschiesya1ConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\555\Desktop\testiruyuschiesya1.mdb"
            providerName="System.Data.OleDb" />
        <add name="Тест_по_МДК_01._01.Properties.Settings.testiruyuschiesya1ConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\testiruyuschiesya1.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>